<div class="col-md-4 col-md-offset-4 back">
  <p id="notice"><%= notice %></p>
  <div class="show_h2 text-center">

    <p>
      <strong><%= @kritic.name %></strong>
    </p>
  </div> 
  <div class="show_h2_content">
    <p>
      <strong><%= t ".title_book" %></strong>
      <%= @kritic.title_book %>
    </p>
    <p>
      <strong><%= t ".ocinka" %></strong>
      <div class="review-rating" data-score="<%= @kritic.ocinka %>"></div>
    </p>
    <p>
      <strong><%= t ".recensiya" %></strong>
      <%= @kritic.recensiya %>
    </p>
    <p>
      <span class="glyphicon glyphicon-thumbs-up"><%= @kritic.get_likes.size %></span>
      <span class="glyphicon glyphicon-thumbs-down"><%= @kritic.get_dislikes.size %></span>
    </p>
  </div>
  <di<div class="show_h2_content text-center">
    <%
      like = t ".like"
      dislike = t ".dislike"
      edit = t ".edit"
      back = t ".back"
      delete = t ".delete"
      question = t ".question"
      read = t ".read"
    %>
    <%= link_to like, like_kritic_path(@kritic), class: "btn btn-default blue" %>
    <%= link_to dislike, dislike_kritic_path(@kritic), class: "btn btn-default red" %><br>
    <% if current_user && @kritic.name == current_user.email %><%= link_to edit, edit_kritic_path(@kritic) %> | <% end %>
	 <%= link_to back, kritics_path %>
  </div>
</div>
<script type="text/javascript">
    $('.review-rating').raty({
      readOnly: true,
      score: function(){
         return $(this).attr("data-score");
      },
      path: "/assets/"
    });
  </script>