<div class="col-md-4 col-md-offset-4 back">
	<%
      index = "Головна"  
      profile = "Профіль"
    %>
    <p class="text-left"><%= link_to index, index_path %> / <%= link_to profile, profile_path %> / Редагувати інформацію</p>
	<%= form_for @userparam do |f|%>
		<div class = "form-group">
			<%= f.label t ".first_name" %>
			<%= f.text_field :firstname, class: "form-control" %>
		</div>

		<div class = "form-group">
			<%= f.label t ".last_name" %>
			<%= f.text_field :lastname, class: "form-control" %>
		</div>

		<div class = "form-group">
			<%= f.label t ".city" %>
			<%= f.text_field :city , class: "form-control" %>
		</div>

		<div class = "form-group">
			<%= f.label t ".photo" %>
			<%= f.file_field :avatar%>
		</div>

		<div class = "form-group">
			<%= f.button t ".submit", class: "btn btn-info pull-right" %>
		</div>
	<%end%>
</div>
