<div class="text-center back">
	<h1 class="col-md-6 col-md-offset-3"><%=  t ".profile" %></h1></br>
</div>
<div class="col-md-4 col-md-offset-4 back">
<%
 	edit_profile = t ".edit_info"
 	add_profile = t ".add_info"
	back_profile = t ".back"
 %>
 	<div class="show_h2">
 		<p class="show_h2 text-center">
			<% if current_user.userparam != nil %>
				<strong><%= current_user.userparam.firstname + " " + current_user.userparam.lastname %></strong><br><br>
				<%= image_tag current_user.userparam.avatar.url(:thumb), size: '200x250', class: 'img-rounded'%><br><br>
				<strong><%= t ".town" %></strong> <%= current_user.userparam.city %><br>
				<% books = t ".books" %><%= link_to books, my_books_path %><br>
	 			<%= link_to edit_profile, userparams_edit_path%>
	 		<% else %>
				<%= link_to add_profile, userparams_new_path %><br>
	 		<%end%><br><br>
			<%= link_to back_profile, root_path, class: "btn btn-default btn-block button-background" %>
		</p>
	</div>
</div>

