<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<script src="//code.simplesvg.com/1/1.0.0-beta5/simple-svg.min.js"></script>

<div class="d-flex">
  <%
    text = []
    #contents = File.read("public/uploads/" + @book.name_of_file + "." + @book.rozshirennya)
    #text = contents.encode(Encoding.find('UTF-8'))
    #text = File.read("public/uploads/" + @book.name_of_file + "." + @book.rozshirennya)
    #text = ""
    reader = PDF::Reader.new("public/uploads/Origin.pdf")
    #book_page = 1
    reader.pages.each do |page| 
      if page.blank? != true || page.empty? != true
        text.push page.text
      end
    end
  %>
  <div class="container my-auto">
    <div class="row">
      <%
        index = "Головна"  
      %>
      <ol class="breadcrumb col-md-10 center-block"> 
        <li><a href="portfolio.php"><%= link_to index, index_path %></a></li>
        <li class="active"><%= link_to @book.title, @book, class: "product" %></li>
        <li class="active"><%= "Слухати" %></li>
      </ol>
        <div class="col-md-10 col-sm-6 col-xs-6 mx-auto">
          <div class="player">
            <div class="player-head">
              <span class="simple-svg pull-right settings" data-icon="mdi-settings" data-inline="false" data-toggle="collapse" data-target="#demo"></span>
              <center>
                <ul class="list-inline">
                  <li class="list-inline-item"><label class="radio-inline"><input type="radio" id="player" name="player" value="1">Варіант 1</label></li>
                  <li class="list-inline-item"><label class="radio-inline"><input type="radio" id="player" name="player" value="2" checked>Варіант 2</label></li>
                </ul>
              </center>
              <ul class="list-group list-group-flush collapse" id="demo">
                <li class="list-group-item">
                  <center class="thispage">Сторінка: 1</center>
                </li>
                <li class="list-group-item">
                  <div class="form-group">
                    <textarea class="form-control" id="textForSpeach"></textarea>
                  </div>
                </li> 
                <li class="list-group-item">
                  
                </li>
                <li class="list-group-item">
                  <div class="form-group">
                    <label><span>Гучність: </span></label>
                    <input class="form-control" type="range" id="volumeSlider" min="0" max="1" value="0.5" step="0.1">
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="form-group">
                    <label><span>Темп: </span></label>
                    <input class="form-control" type="range" id="rateSlider" min="0" max="1" value="0.5" step="0.1">
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="form-group">
                    <label><span>Висота голосу: </span></label>
                    <input class="form-control" type="range" id="pitchSlider" min="0" max="2" value="0.5" step="0.1">
                  </div>
                </li>
              </ul>
            </div>
            <div class="player-body">
              <div class="album-info">
                <span class="album-title">
                  <%= @book.title %>
                </span>
                <span class="song-title">
                  <%= @book.auth %>
                </span>
                <div class="form-row align-items-center form-group">
                  <label>
                    <span>Голос: </span>
                    <select class="custom-select mr-sm-2" id="voiceOptions"></select>
                  </label>
                </div>
                <span class="player-controls">
                  <span title="Попередня сторінка" id="play" class="glyphicon glyphicon-backward aligned pull-left" onclick="Prev()"></span>
                  <span title="Розпочати" id="start" class="glyphicon glyphicon-play aligned start"></span>
                  <span style="display: none;" title="Пауза" id="play" class="glyphicon glyphicon-pause aligned pause"></span>
                  <span style="display: none;" title="Відновити" id="play" class="glyphicon glyphicon-play aligned resume"></span>
                  <span style="display: none;" title="Зупинити" id="play" class="glyphicon glyphicon-stop aligned stop"></span>
                  <span title="Наступна сторінка" id="play" class="glyphicon glyphicon-forward aligned pull-right" onclick="Next()"></span>
                </span>
              </div>
            </div>
            <div class="player-footer">
              <div class="player-seekbar"></div>
            </div>
          </div>        
        </div>
      </div>
      <center>
        <div class="form-row align-items-center form-group">
          <label>
            <audio src="" class="speech" controls="controls" hidden="">муз</audio>
          </label>
        </div>
      </center>
    </div> 
  </div>
  <script type="text/javascript">
  var L = 0;
    //старт плеєра
    $(".start").click(function() {
      $(".pause").show();
      $(".stop").show();
      L = 0;
      speak('speak');
      /*
        if($('input[name=type]:checked').val() == "upload"){
            $(".addurl").hide()
            $(".upload").show();
        }
        else if($('input[name=type]:checked').val() == "addurl"){
            $(".addurl").show();
            $(".upload").hide();
        }
      */
    });
    //пауза
    $(".pause").click(function() {
      $(".pause").hide();
      $(".resume").show();
      speak('pause');
    });
     //відновлення
    $(".resume").click(function() {
      $(".pause").show();
      $(".resume").hide();
      speak('continue');
    });
    //стоп
    $(".stop").click(function() {
      $(".pause").hide();
      $(".resume").hide();
      $(".stop").hide();
      speak('stop');
    });

    var i = 0;
    var text = <%=  text.to_json.html_safe %>;
    $("#textForSpeach").text(text[i])
    function Next(){
      i++;
      $(".thispage").text("Сторінка: " + (i+1))
      $("#textForSpeach").text(text[i])
    }
    function Prev(){
      i--;
      $(".thispage").text("Сторінка: " + (i+1));
      $("#textForSpeach").text(text[i])
    }


    var voiceOptions = document.getElementById("voiceOptions");
    var volumeSlider = document.getElementById("volumeSlider");
    var rateSlider = document.getElementById("rateSlider");
    var pitchSlider = document.getElementById("pitchSlider");
    var textForSpeach = document.getElementById("textForSpeach");
    var voiceMap = [];

    function loadVoices(){
      var voices = speechSynthesis.getVoices();
      for(var i = 0; i < voices.length; i++){
        var voice = voices[i];
        var option = document.createElement("option");
        option.value = voice.lang;
        option.innerHTML = voice.name + "(" + voice.lang + ")";
        voiceOptions.appendChild(option);
        voiceMap[voice.lang] = voice;
      }
    }

    $(".speech").on('ended', function(){
      L++;
      speakAction();
    });

    window.speechSynthesis.onvoiceschanged = function(e){
      loadVoices();
    }

    function speak(action){
      var player =  document.querySelector('input[name="player"]:checked').value
      var audioplayer = document.getElementsByClassName("speech"); 
      switch(action){
        case "stop":
          if(player == 1) window.speechSynthesis.cancel();
          else $(".speech").removeAttr('hidden').trigger('stop');
          break;
        case "speak":
          window.speechSynthesis.cancel();
          speakAction();
          break;
        case "pause":
          if(player == 1) window.speechSynthesis.pause();
          else $(".speech").removeAttr('hidden').trigger('pause');
          break;
        case "continue":
          if(player == 1) window.speechSynthesis.continue();
          else $(".speech").removeAttr('hidden').trigger('play');
          break;
      }
    }
    function speakAction(){
      var player =  document.querySelector('input[name="player"]:checked').value
      /*
        msg.onend = function(event) {
          Next();
          speak("speak");
        }
      */
      if(player == 1){
        var txt = textForSpeach.value;
        sentences = txt.split(".")
        for (i = 0; i < sentences.length; i++) {
          sentence = sentences[i]
          var msg = new SpeechSynthesisUtterance(sentence);
          msg.volume = volumeSlider.value;
          msg.voice = voiceMap[voiceOptions.value];
          msg.rate = rateSlider.value;
          msg.pitch = pitchSlider.value;
          window.speechSynthesis.speak(msg);
        }
      }
      else if(player == 2){
        var txt = textForSpeach.value;
        sentences = txt.split(".")
        if(L < sentences.length){
          word = sentences[L].split(".");
          sentence = encodeURIComponent(sentences[L]);
          var voice = voiceOptions.value;
          var url = "http://translate.google.com/translate_tts?tl=" + voice + "&q=" + sentence + "&client=tw-ob&ie=UTF-8";
          $(".speech").attr("src", url).get(0);
          $(".speech").removeAttr('hidden').trigger('play').get(0);
        }
      }
    }
  </script>
</div>
<script type="text/javascript">
  $(".back-top").hide();
    $(function () {
        $(window).scroll(function () {
            if ($(this).scrollTop() > 100) {
                $('.back-top').fadeIn();
            } else {
                $('.back-top').fadeOut();
            }
        });
        $('#back-top a').click(function () {
            $('body,html').animate({
                scrollTop: 0
            }, 800);
            return false;
        });
    });
    $(".return").click(function () {
      location = "../";
    });
</script>

<script type="text/javascript">
  /*
  const msg = new SpeechSynthesisUtterance();
  let voices = [];
  const voicesDropdown = document.querySelector('[name="voice"]');
  const options = document.querySelectorAll('[type="range"], [name="text"]');
  const speakButton = document.querySelector("#speak");
  const stopButton = document.querySelector("#stop");
  msg.text = document.querySelector("#textForSpeach").value;

  function populateVoices(){
    voices = speechSynthesis.getVoices();
    voicesDropdown.innerHTML = voices
      .map(voice => `
        <option value="${voice.name}">${voice.name} (${voice.lang})</option>`).join('');
  }
  function setVoice(){
    msg.voice = voices.find(voice => voice.name === this.value);
    toggle();
  }
  function toggle(startOver = true){
    speechSynthesis.cancel();
    if(startOver){
      speechSynthesis.speak(msg);
    }
  }

  window.speechSynthesis.addEventListener("onvoicechanged", populateVoices);
  voicesDropdown.addEventListener("change", setVoice);
  */
</script>
