<div class="col-md-4 col-md-offset-4 back">
  <p id="notice"><%= notice %></p>
  <div class="show_h2 text-center">

    <p>
      <strong><%= @auth.auth %></strong>
    </p>
  </div> 
  <div class="show_h2_content">
    <p>
      <strong><%= t ".book" %></strong>
      <%= @auth.book %>
    </p>
    <p>
      <strong><%= t ".biography" %></strong>
      <%= @auth.biography %>
    </p>
    <p>
      <span class="glyphicon glyphicon-thumbs-up"><%= @auth.get_likes.size %></span>
      <span class="glyphicon glyphicon-thumbs-down"><%= @auth.get_dislikes.size %></span>
    </p>
  </div>
   <div class="show_h2_content text-center">
    <%
      like = t ".like"
      dislike = t ".dislike"
      edit = t ".edit"
      back = t ".back"
    %>
    <%= link_to like, like_auth_path(@auth), class: "btn btn-default blue" %>
    <%= link_to dislike, dislike_auth_path(@auth), class: "btn btn-default red" %><br>
  </div>
</div>
