<div class="prof masthead d-flex">
  <div class="container my-auto">
    <div class="row">
      <%
        index = "Головна"  
      %>
      <ol class="breadcrumb col-md-10 center-block"> 
        <li><a href="portfolio.php"><%= link_to index, index_path %></a></li>
        <li class="active"><%= @auth.auth %></li>
      </ol>
      <div class="col-md-10 col-sm-6 col-xs-6 mx-auto body-background center-block">
        <p id="notice"><%= notice %></p> 
        <div class="show_h2 text-center">
          <p>
            <strong><%= @auth.auth %></strong>
          </p>
        </div> 
        <div class="show_h2_content">
          <p>
            <strong><%= t ".book" %></strong>
            <% 
              books = @auth.book.split(',') 
              if books.count > 1 
                books.each do |book|
                  book_link = Book.search(book)
                    #if book_link.count > 1
                    %>
                    <%= link_to book, books_path + "?utf8=✓&search=" + book + "&commit=Пошук", :class => "product" %><br/>
                    <% 
                    #end
                  end 
                  else %>
                    <%= link_to @auth.book, books_path + "?utf8=✓&search=" + @auth.book + "&commit=Пошук", :class => "product" %>
              <%  end %>
          </p>
          <p>
            <strong><%= t ".biography" %></strong>
            <%= @auth.biography %>
          </p>
          <p>
            <span class="glyphicon glyphicon-thumbs-up"><%= @auth.get_likes.size %></span>
            <span class="glyphicon glyphicon-thumbs-down"><%= @auth.get_dislikes.size %></span>
          </p>
        </div>
         <div class="show_h2_content text-center">
          <%
            like = t ".like"
            dislike = t ".dislike"
            edit = t ".edit"
            back = t ".back"
          %>
          <%= link_to like, like_auth_path(@auth), class: "btn btn-default blue" %>
          <%= link_to dislike, dislike_auth_path(@auth), class: "btn btn-default red" %><br>
        </div>
      </div>
    </div>
  </div>
</div> 
<script>