<div class="prof masthead d-flex">
  <div class="container my-auto">
    <div class="row">
      <%
        index = "Головна"  
      %>
      <ol class="breadcrumb col-md-10 center-block"> 
        <li><a href="portfolio.php"><%= link_to index, index_path %></a></li>
        <li class="active"><%= t ".title" %></li>
      </ol>
      <a name="prof-knowledge"></a>
      <div class="col-md-10 col-sm-6 col-xs-6 mx-auto body-background center-block">
        <h2 class="text-white text-center bounceInRight wow">
          <strong><%= t ".title" %></strong>
        </h2><br>
        <p id="notice"><%= notice %></p>
        <div class="show_h2 text-center">
          <h2>Версія 1</h2>
          <h2><%= t ".front-end" %></h2>
          <h3>Front-End, <%= t ".leader" %></h3>
          <h4>some.pochta1@gmail.com</h4>
          <br>
          <h2><%= t ".back-end" %></h2>
          <h3>Back-End</h3>
          <h4>aleksandr.danko.97@mail.ru</h4>
          <br>
          <h2><%= t ".manager" %></h2>
          <h3><%= t ".manager_t" %></h3>
          <h4>sgstriker12@gmail.com</h4>
          <br><br><br>
          <h2>Версія 2</h2>
          <h2><%= t ".front-end" %></h2>
          <h4>some.pochta1@gmail.com</h4>
          <br><br>
        </div>
        <br><br>
        <div id="line"></div>
        <div class="show_h2 text-center">
          <h2><a href="https://github.com/lakatoshv/Library-RoR-V1"><%= t ".github" %>(Онлайн-бібліотека)</a></h2>
          <h2><a href="https://github.com/lakatoshv/Library-RoR-V2"><%= t ".github" %>(Віртуальна бібліотека з аудіопідтримкою)</a></h2><br>
          <h4><%= t ".follow" %></h4>
          <h4><a href="https://github.com/lakatoshv"><%= t ".front-end" %></a></h4>
          <h4><a href="https://github.com/sgstriker"><%= t ".manager" %></a></h4>
        </div>
      </div>
    </div>
  </div>
</div> 