<div class="text-center back">
	<%
      index = "Головна"  
    %>
    <p class="text-left"><%= link_to index, index_path %> / Про програму</p>
  <h1 class="col-md-6 col-md-offset-3"><%= t ".title" %></h1></br>
</div>
<div class="col-md-4 col-md-offset-4 back">
  <p id="notice"><%= notice %></p>
  <div class="show_h2">
	<%
	  	here = t ".here"
	  	version = ""
	  	subversion = ""
	%>

	<p><strong class="show_h2 text-center"><%= t ".description" %><%= link_to here, for_holders_path %>.</strong></p>
	<br><br>
	<% @abouts_program.each do |abouts_program| %>
		<% if version != abouts_program.version %>
			<h2>Версія <%= abouts_program.version %></h2>
			<% version = abouts_program.version %>
		<% end %>
		<% if subversion != abouts_program.subversion %>
			<h3><%= abouts_program.subversion %></h3>
			<% subversion = abouts_program.subversion %>
		<% end %>
		
		<p><%= abouts_program.made %></p>
    <% end %>
</div>