<h2 class="col-md-6 col-md-offset-3 text-center back "><%= t ".p1" %> <%= @resource.email %>!</h2>
<div  class="col-md-4 col-md-offset-4 back text-center show_h2_content">
	<p><%= t ".p2" %></p>
	<% change = t ".change" %>
	<p><%= link_to change, edit_password_url(@resource, reset_password_token: @token) %></p>
	<p><%= t ".p3" %></p>
	<p><%= t ".p3" %></p>
</div>
