<% if session[:lang] == "ua" 
    text ={
      :p1 => "Вітаємо",
      :p2 => "Хтось просив посилання, щоб змінити пароль. Ви можете зробити це за посиланням нижче.",
      :change => "Змінити пароль",
      :p3 => "Якщо ви не запитували це, будь ласка, ігноруйте цей лист.",
      :p4 => "Ваш пароль не зміниться, поки ви не перейдете по посиланням вище і не створите новий."
    } 
  elsif session[:lang] == "en" 
    text ={
      :p1 => "Hello",
      :p2 => "Someone has requested a link to change your password. You can do this through the link below.",
      :change => "Change my password",
      :p3 => "If you didn't request this, please ignore this email.",
      :p4 => "Your password won't change until you access the link above and create a new one."
    } 
  elsif session[:lang] == "ru"
    text ={
      :p1 => "Здравствуйте",
      :p2 => "Кто-то запросил ссылку для изменения вашего пароля. Вы можете сделать это по ссылке ниже.",
      :change => "Изменить пароль",
      :p3 => "Если вы не запрашивали это, игнорируйте это письмо.",
      :p4 => "Ваш пароль не изменится, пока вы не перейдете по ссылке выше и не создадите новый."
    } 
  end 
%>
<p><%= text[:p1] %> <%= @resource.email %>!</p>

<p><%= text[:p2] %></p>

<p><%= link_to text[:change], edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= text[:p3] %></p>
<p><%= text[:p3] %></p>
